@import 'palette';
@import url('https://fonts.googleapis.com/css?family=Raleway');

h1 {
  color: $color-primary-4;
}

span.keyword {
  color: $color-primary-3;
  font-weight: bold;
}

span.event {
  color: $color-primary-3;
  font-weight: bold;
}

body {
  margin: 50px 100px;
  background-color: $color-primary-2;
  color: $color-primary-3;
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
  word-spacing: 0.12em;
}

div#flow {
  display: flex;
  flex-direction: flow;
  flex-wrap: wrap;
  justify-content: center;

  section {
    flex-grow: 1;
  }
}

p {
  width: 700px;
  margin-bottom: 1.5em;
  line-height: 1.3em;
}

p.signature {
  font-size: 12pt;
  color: $color-primary-0;
}

a {
  color: $color-secondary-1-3;
  font-weight: bold;
}
